{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tedspace</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" >
    <link rel="stylesheet" href="{% static 'tedspace.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
    <nav style="background: #681515; height: 70px;" class="navbar navbar-expand-lg navbar-light ">
        <img style="margin-left: 60px;" width="100" src="https://github.com/muradaghazade/imgs-for-ts/blob/main/ChatGPT%20Image%20Aug%2029,%202025,%2001_40_51%20PM.png?raw=true" alt="">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div style="margin-left: 775px; gap: 60px;" class="navbar-nav">
                    <a style="color: white;" class="nav-item nav-link active" href="#">haqqimizda <span class="sr-only">(current)</span></a>
                    <a style="color: white;" class="nav-item nav-link" href="#">hedefler</a>
                    <a style="color: white;" class="nav-item nav-link" href="#">elaqe</a>
                </div>
            </div>
    </nav>

    <div style=" background-image: linear-gradient(rgba(255, 0, 0, 0.597),  rgba(255, 0, 0, 0.209)), url(https://github.com/muradaghazade/imgs-for-ts/blob/main/logo.png?raw=true); height: 600px; width: 100%; background-size: cover; background-position: center;">
        <h1 style="color: transparent; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: white; padding-top: 100px; margin-left: 150px; font-size: 60px;">"AI" dovrunde <br> Agilli insanlara "AI" esaslanan <br> <span style="color: white;">Inkisaf Planformasi</span></h1>
         <div style="display: flex;">
            <div>
                <h3 style="color: white; margin-left: 150px; margin-top: 30px; font-weight: bold; font-size: 35px;">
                5 il+ tecrube
                </h3>
                <p style="color: white; margin-left: 150px; margin-top: 5px; font-size: 13px; max-width: 600px;">
                    Korporasiyanin ve  Startaplar arasinda strateji terefdasliqlar yaratmaq tecrubesi 
                </p>
            </div>
            <div>
                <h3 style="color: white; margin-left: 150px; margin-top: 30px; font-weight: bold; font-size: 35px;">
                    100+ Layihe
                </h3>
                <p style="color: white; margin-left: 150px; margin-top: 5px; font-size: 13px; max-width: 600px;">
                    Reallisdirilmis layiheler
                </p>
            </div>
         </div>
    </div>


    <div style="background: rgb(237, 237, 237); height: 150px;">
        <h1 style=" font-size: 40px; font-weight: bold; color: #681515; margin-left: 100px; padding-top: 35px;">
            Biz Kimik? <br>
            <span style="color: white; -webkit-text-stroke-width: 0.8px; -webkit-text-stroke-color: #681515;">Innovasiya sektoruna ne fayda veririk?</span>
        </h1>
    </div>

    <div style="color: white;">
        <p style="color: #681515; width: 90%; margin-left: 100px; margin-top: 20px; margin-bottom: 50px; font-size: 16px; line-height: 1.6; margin-top: 30px; height: 100px;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum ullam aperiam illum nisi sequi ratione repudiandae cupiditate veritatis, magnam cum repellat molestiae laborum porro, ipsam nobis veniam et animi ipsum quaerat fuga? Labore pariatur magnam facilis officiis cumque inventore eius vero delectus natus nemo deserunt. Animi id quod nisi hic consequuntur aspernatur, laboriosam voluptatem. <br> <br> 
             Eligendi iure eius enim! Labore veritatis natus, perspiciatis maxime possimus, molestiae voluptates incidunt quibusdam autem minima quaerat officia numquam quia exercitationem delectus illum asperiores aperiam magni quod iste tempore? Voluptatum, itaque quod.
        </p>
    </div>


    <br>


    <hr style=" margin-bottom: 0;">
<div style="background: rgb(237, 237, 237);">
    <div style="padding: 55px; background: rgb(237, 237, 237);">
        <div style=" background-image: linear-gradient(rgba(86, 13, 13, 0.749),  rgba(70, 6, 6, 0.518)), url(https://github.com/muradaghazade/imgs-for-ts/blob/main/yiqishib.png?raw=true); height: 470px;  border-radius: 40px; background-position: 10px;">
            <h2 style="color: transparent; -webkit-text-stroke-width: 0.5px; -webkit-text-stroke-color: white; padding-top: 75px; margin-left: 68px;">Icmamizi <span style="color: white;">Agilli insanlar</span> ucun <br> yaradiriq</h2>

             <div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-7">
                            <div style="color: white; margin-left: 50px; margin-top: 40px;">
                                    <div>
                                    <p>Ayliq gorusler ve meet-up-lar - ekosistemde tanisliqlar ve yeni <br>
                                        emekdasliqlar</p>
                                    </div>
                                    <div>
                                        <p>Hackathon ve bootcamp-lar - ideyalar real layihelere cevrilmesi <br> imkani</p>
                                    </div>
                                    <div>
                                        <p>Mentor desteyi ve bilik paylasimi - tecrubesi mutexessislerle <br> birbasa unsiyyat</p>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div>
                                <h1 style="text-align: center; margin-top: -50px; margin-right: 250px; color: transparent; -webkit-text-stroke-width: 0.5px; -webkit-text-stroke-color: white; font-size: 45px; width: 400px;">Yaranan <br> 100-lerle "startap" <br> her il <span style="color: white;">yox</span> olur</h1>
                            </div>
                        </div>
                    </div>
                </div>
            

            
        </div>
        </div>
    </div>
</div>
    <div style="background: rgb(237, 237, 237);">
        <h1  style="color: transparent; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #681515; margin-left: 125px;">
            Ola Biler! Demirik <br> <span style="color: #681515; font-size: 40px;">Olacaq! Deyirik</span>
        </h1>


         <div style="display: flex; justify-content: center; gap: 20px; flex-wrap: wrap; padding: 0 50px;">
            {% for blog in blogs %}
                <div style="flex: 0 1 calc(25% - 20px); min-width: 300px;">
                    <img style="border-radius: 25px; width: 100%; margin-top: 35px;" src="{{ blog.image.url }}" alt="">
                    <div style="background: rgb(237, 237, 237);">
                        <h6 style="margin-left: 20px; color: #681515; margin-top: 10px;">{{ blog.name }} <br>
                            <span style=" color: #bbbbbb;"> {{ blog.title }}</span>
                        </h6>
                        <br>
                        <p style="font-size: 13px; color: #681515; margin-left: 20px; margin-top: -14px;">{{ blog.description }}</p>
                    </div>
                </div>
            {% endfor %}
              

             
            </div> 
    </div>

   

<div class="container-fluid px-0" style="margin-bottom: 0; padding: 0; margin-bottom: -45px;">
  <div class="row g-0" style="min-height: 400px; width: 101%;">
    
    
    <div class="col-md-6 p-0" style=" height: 100%;">
      <img 
        src="https://github.com/muradaghazade/imgs-for-ts/blob/main/Document_Image_1.png?raw=true"
        alt=""
        class="img-fluid w-100 h-100 d-block"
        style="object-fit: cover; margin: 0; max-height: 1004px;"
      >
    </div>

    
    <div class="col-md-6 d-flex flex-column justify-content-start"
         style="background:#681515; padding:50px; color:white;">


      <div style="margin-left: 20px; margin-right: 10px;" class="d-flex align-items-start mb-4">
        <i class="fa-solid fa-angle-down"
           style="font-size:50px; margin-right:20px; flex-shrink: 0;"></i>
        <p class="m-0" style="word-wrap: break-word; overflow-wrap: break-word;">
          <strong>Tariyel Aghazade</strong>, Innovasiya & Sahibkarlıq üzrə Prezident Mükafatçısı<br>
          Tedroid Media Group-un həmtəsisçisi
        </p>
      </div>

     
      <h4 style="line-height:1.7; max-width: 500px; min-height: 190px; margin-left: 50px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;">
        "Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Culpa accusamus harum eaque enim delectus sint,
        perferendis praesentium?
        Corrupti sint architecto vitae animi asperiores,
        ad similique illum commodi ipsam magnam est."
      </h4>

      

       <div style="margin-top: 120px; margin-left: 50px;" class="d-flex align-items-start mb-4">
        <i class="fa-solid fa-angle-down"
           style="font-size:50px; margin-right:20px;"></i>

        <p class="m-0">
          <strong>Tariyel Aghazade</strong>, Innovasiya & Sahibkarlıq üzrə Prezident Mükafatçısı<br>
          Tedroid Media Group-un həmtəsisçisi
        </p>
      </div>

     
      <h4 style="line-height:1.7; max-width: 520px; margin-left: 50px; min-height: 190px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;">
        “Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Culpa accusamus harum eaque enim delectus sint,
        perferendis praesentium?
        Corrupti sint architecto vitae animi asperiores,
        ad similique illum commodi ipsam magnam est.”
      </h4>
      <i  class="fa-brands fa-blogger-b"
         style="font-size:80px; margin-left:50px; margin-top: 6px;">
      </i>
    </div>
    
  
  </div>
</div>


<div style="background: rgb(237, 237, 237);">
    <h1 style="color: #681515; padding-top: 100px; font-size: 50px; font-weight: 700; margin-left: 135px;">Baslamaga hazirsan? <br> <span style="color: white; -webkit-text-stroke-width: 0.9px; -webkit-text-stroke-color: #681515;">Bizimle eleqe saxla</span></h1>
    <br>
    <p style="color: #681515; margin-left: 135px; font-size: 20px;">Formu doldur,komandamiz en qisa zamanda geri donsun:</p>
        <div style="display: flex; gap: 65px;">
            <div>
                <p style="color: #681515; margin-left: 135px;">Ad<span style="color: red;">*</span></p>
                <input style="margin-left: 135px; border: 2px solid #681515; border-radius: 20px; background: transparent; padding: 8px 185px;" type="text">
                <p style="font-size: 15px; margin-left: 135px;">adinizi butov daxil edin</p>
            </div>
            <div>
                <p style="color: #681515; margin-left: 0;">Soyad<span style="color: red;">*</span></p>
                <input style="border: 2px solid #681515; border-radius: 20px; background: transparent; padding: 8px 235px;" type="text">
            </div>
        </div>
        <div style="margin-top: 10px;">
            <p style="color: #681515; margin-left: 135px;">Email<span style="color: red;">*</span></p>
            <input style="margin-left: 135px; border: 2px solid #681515; border-radius: 20px; background: transparent; padding: 8px 545px;" type="email">
            <p style="font-size: 15px; margin-left: 135px;"> Elektron poçtunuzu butov daxil edin</p>
        </div>
        <div style="margin-top: 10px;">
            <p style="color: #681515; margin-left: 135px;">Vezife<span style="color: red;">*</span></p>
            <input style="margin-left: 135px; border: 2px solid #681515; border-radius: 20px; background: transparent; padding: 8px 545px;" type="email">
           
        </div>
        <div style="margin-top: 10px;">
            <p style="color: #681515; margin-left: 135px;">Sirketin adi<span style="color: red;">*</span></p>
            <input style="margin-left: 135px; border: 2px solid #681515; border-radius: 20px; background: transparent; padding: 8px 545px;" type="email">
           
        </div>
        <div style="margin-top: 10px;">
            <p style="color: #681515; margin-left: 135px;">Olke<span style="color: red;">*</span></p>
            <input style="margin-left: 135px; border: 2px solid #681515; border-radius: 20px; background: transparent; padding: 8px 545px;" type="email">
           
        </div>


        <div style="margin-top: 10px;">
            <p style="color: #681515; margin-left: 135px;">Mesaj<span style="color: red;">*</span></p>
            <input style="margin-left: 135px; border: 2px solid #681515; border-radius: 25px; background: transparent; padding: 15px 545px;" type="email">
            <p style="font-size: 15px; margin-left: 135px; transform: skew(-15deg);">Ilk addimi sen at - davamini biz getirek</p>
        </div>
        <button style="background: #681515; color: white; border: none; border-radius: 25px; padding: 10px 30px; margin-left: 135px; margin-top: 20px; margin-bottom: 100px;">Tesdiqle</button>
        <br>
        <br>
    </div >


    <div>
        <h1 style="font-size: 85px; color: #681515; margin-left: 150px; margin-top: 50px;">partnyorlar</h1>
        <h1 style="color: #681515;  margin-left: 150px; margin-top: 10px;">__</h1>
        <div class="container">
          <div class="row">
             {% for partner in partners %}
            <div class="col-md-4">
          <a href="{{ partner.url }}">
            <img  style="margin-left: 26px; width: 200px;" src="{{ partner.image.url }}" alt="{{ partner.name }}">

          </a>
            </div>
            {% endfor %}
          </div>
        </div>
        
        <br>
    </div>

    <div style="background: #681515; height: 200px;">
        <div style="display: flex;">
            <div>
                <h5 style="color: white; margin-left: 150px; padding-top: 75px;">Tedspace</h5>
                <h5 style="color:  rgb(205, 205, 205); margin-left: 150px;">Brendin muellif huquqlari "Tedroid Media Group"a mexsusdur</h5>
                <h5 style="margin-top: 30px; color:  rgb(205, 205, 205); margin-left: 150px;">@ 2026</h5>
            </div>
            <div>
                <h5 style="color: white; margin-left: 500px; padding-top: 75px;">elaqe</h5>
                <h5 style="color: rgb(205, 205, 205); margin-left: 500px;">tariyel@tedroid.com <br>bakhtiyar@tedroid.com</h5>
            </div>
           
        </div>
       

    </div>




    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>  
</body>
</html>




